*, *::before, *::after {
  box-sizing: border-box;
}
main {
  width: 375px;
  position: relative;
  font-family: "SF Pro Text", Arial, sans-serif;
  font-size: 12px;
  color: #4A4A4A;
  margin: auto;
}

.image-position {
  max-height: 280px;
}
img {
position: relative;
top: -80px;
}
nav {
  font-size: 18px;
  text-align: center;
  line-height: 1.2;
  padding: 5% 0 2% 0;
  position: absolute;
  width: 100%;
  background-color: rgba(249, 247, 247, .8);
  box-shadow: 0px .5px 2px #d9d9d9;
  z-index: 1;
}
nav header {
  font-weight: 500;
}
nav p {
  font-size: 14px;
}
.fa-chevron-left {
  position: absolute;
  top: 35%;
  left: 5%;
}
.fa-plus {
  position: absolute;
  top:35%;
  right: 5%;
}
.card-up {
  background-color: #fff;
  position: absolute;
  border-radius: 10px 10px 0 0;
}
.pull-down {
  width: 10%;
  border-radius: 5px;
  margin: 10px auto 10px auto;
}
.section-one {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
  position: relative;
}
ul.next-bus {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 5% auto;
  padding: 0 5%;
  background-color: #d3d3d3;
  border-radius: 10px;
  border-color: #d3d3d3;
}
li.next-arrival {
  width: 50%;
  padding: 8% 0;
}
h2.arrival-time {
  text-align: right;
  background-color: #4a90e2;
  padding: 10px 5px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}
.next-frequency {
  font-size: 10px;
  color: #4a4a4a;
  font-style: italic;
  padding: 5% 0;
}
hr {
  width: 100%;
  margin:0;
}
li {
  display: inline-block;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.3;
  padding: 1% 0;
}
ul.section-two {
  padding: 3% 5%;
  background-color: #f7f7f7;
}
ul.section-three {
  padding: 5% 5%;
  background-color: #e5e5e5;
}
ul.section-four {
  padding: 3% 0 0 0;
}
.first-arrival {
  color: #D0021B;
  font-weight: bold;
}
.second-arrival {
  color: #F6BD60;
  font-weight: bold;
}
ul.bus-line {
  width: 100%;
  padding: .5% 1% 1% 1%;
  display: inline-flex;
}
li.bus-lines {
  text-align: left;
  width: 100%;
}
h2.line {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
}
p.line {
  display: inline-block;
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;
}
li.arrivals {
  width: 100%;
}
.arrival {
  text-align: right;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}
.frequency {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}
p.direction {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

ul.bus-line-alerts {
  width: 100%;
  display: inline-flex;
}
.out-of-service, .reroutes {
  font-size: 14px;
  font-weight: 500;
  display: inline;
  font-weight: bold;
  text-transform: uppercase;
}
li.resumes {
  text-align: right;
  width: 100%;
}
p.resumes {
  display: inline;
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
}
h2.resumes {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin: 2px
}
ul.reroute {
  width: 100%;
  display: inline-flex;
}
ul li.line {
  text-align: left;
  width: 100%;
}
.fa-exclamation-triangle {
  padding: 0% 1%;
  color: #D0021B;
}
