*, *::before, *::after {
  box-sizing: border-box;
}

main {
  width: 375px;
  position: relative;
  font-
}

.map {
  top: 13%;
  right: 4%;
}
.route {
  position: absolute;
  top: 21%;
  left: 0;
  background-color: rgba(0,0,0,0);
}
.bus {
  position:absolute;
  top: 14%;
  left: 3%;
  background-color: rgba(0,0,0,0);
}
.location {
  position:absolute;
  top: 32%;
  left: 45%;
  background-color: rgba(0,0,0,0);
}

nav {
  font-size: 18px;
  text-align: center;
  padding: 5% 0 2% 0;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  background-color: rgba(249, 247, 247, .8);
  box-shadow: 0px .5px 2px #d9d9d9;
}
nav.h1 {
  font-weight: 500;
}
nav p {
  font-size: 14px;
}
.fa-chevron-left {
  position: absolute;
  top: 35%;
  left: 5%;
}
.fa-plus {
  position: absolute;
  top:35%;
  right: 5%;
}

div.overlay {
  position: relative;
}
.card-up {
  background-color: #fff;
  position: absolute;
  border-radius: 10px 10px 0 0;
}
.pull-down {
  top: 10%;
  left: 50%;
  z-index: 1;
  width: 10%;
  border-radius: 5px;
  margin: 10px auto 10px auto;
}

div {
  font-size: 12px;
  font-family: sans-serif;
  border-radius: 10px 10px 0 0;
}
.section-one {
  background-color: #fff;
  border-radius: 10px 10px 0 0;
}
.section-two {
  background-color: #f7f7f7;
}
.section-three {
  background-color: #e5e5e5;
}

button {
  display: flex;
  align-items: center;
  width: 75%;
  margin: 5% auto;
  background-color: #d3d3d3;
  border-radius: 10px;
  border-color: #d3d3d3;
}
li.next-arrival {
  width: 50%;
  padding: 10px 0;
}
h2.arrival-time {
  text-align: right;
  background-color: #4a90e2;
  padding: 10px 5px;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
}
.next-frequency {
  font-size: 10px;
  color: #4a4a4a;
  font-style: italic;
}
hr {
  width: 100%;
  margin: 0;
}
li {
  display: inline-block;
  text-align: right;
  font-size: 1.2em;
  line-height: 1.3;
}
.first-arrival {
  color: #D0021B;
  font-weight: bold;
}
.second-arrival {
  color: #F6BD60;
  font-weight: bold;
}
ul.bus-line {
  width: 100%;
  padding: .5% 1% 1% 1%;
  display: inline-flex;
}
li.bus-lines {
  text-align: left;
  width: 100%;
}
h2.line {
  font-size: 18px;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
}
p.line {
  display: inline-block;
  font-style: italic;
  font-size: 14px;
  font-weight: lighter;
}
li.arrivals {
  width: 100%;
}
.arrival {
  text-align: right;
  font-weight: bold;
  border-radius: 5px;
  display: inline-block;
  font-size: 14px;
}
.frequency {
  text-align: right;
  font-size: 12px;
  font-style: italic;
  font-weight: lighter;
}
p.direction {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
}

ul.bus-line-alerts {
  width: 100%;
  display: inline-flex;
}
.out-of-service, .reroutes {
  font-size: 14px;
  font-weight: 500;
  display: inline;
}
li.resumes {
  text-align: right;
  width: 100%;
}
p.resumes {
  display: inline;
  font-style: italic;
  font-size: 12px;
  font-weight: lighter;
}
h2.resumes {
  display: inline-block;
  border: 0;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
  margin: 2px
}

ul.reroute {
  width: 100%;
  display: inline-flex;
}
ul li.line {
  text-align: left;
  width: 100%;
}
/*how do i make these icons show up correctly? I've
linked the correct site in my html (at least i thought)...*/
.fa-exclamation-triangle {
  padding: 0% 1%;
  color: #D0021B;
}
