*, *::before, *::after {
  box-sizing: border-box;
}

div {
  border-top: 3px solid black; border-left: 3px solid black; border-right: 3px solid black;
  border-radius: 10px 10px 0 0;
  background-color: #ffffff;
  font-size: 12px;
  font-family: sans-serif;
  padding-top: 10px;
}

nav {
  font-size: 1.3em;
  text-align: center;
  padding: 1% 0 0 0;
  font-family: sans-serif;
}

button {
  display: flex;
  align-items: center;
  width: 50%;
  margin: 1% auto;
  background-color: #d3d3d3;
  border-radius: 10px;
}

h2.arrival-time {
  text-align: right;
  background-color: yellow;
  padding: 0 3px;
  border-radius: 5px;
}

hr {
  margin: 2% 0;
}

ul {
  width: 100%;
  padding: .5% 1% 1% 1%;
}

li {
  width: 49%;
  display: inline-block;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.3;
}

li.bus-lines {
  text-align: left;
}

p.frequency {
  font-size: .9em;
  font-style: italic;
}

.arrival {
  text-align: right;
  font-weight: bold;
  background-color: #d3d3d3;
  border-radius: 5px;
  padding: 0 3px;
}

.frequency {
  text-align: right;
}

h2.line {
  font-size: 1.2em;
  text-transform: capitalize;
  font-weight: bold;
  display: inline-block;
}

p.line {
  display: inline-block;
  padding-left: 10px;
  font-style: italic;
}

p.direction {
  font-weight: bold;
  text-transform: uppercase;
}

li.resumes {
  text-align: right;
}

p.resumes {
  display: inline;
}

h2.resumes {
  display: inline-block;
  background-color: #d3d3d3;
  border: 0;
  border-radius: 5px;
  padding: 5px;
}
